#menu
{
	list-style: none;  
}

#menu li
{
	display: inline-block;
	font-family: 'Ubuntu Condensed', sans-serif;
	text-transform: uppercase;
	padding: 53px 25px 10px;
	float: left;	
	position: relative;
}

#menu li:hover{
	background-color:#04336c;
}

#menu a 
{
	float: left;
	color: #fff;
	text-transform: uppercase;
	font-size:  15px ;
	font-family: 'Ubuntu Condensed', sans-serif;
	text-decoration: none;
}

#menu li:hover > a
{
	color: #fafafa;
}

*html #menu li a:hover /* IE6 */
{
	color: #fafafa;
}

#menu li:hover > ul
{
	display: block;
}

/* Sub-menu */

#menu ul
{
    list-style: none;
    padding: 12px 0px 12px 0px;    
    display: none;
    position: absolute;
   	margin-top:28px;
    left: 0;
    z-index: 99999;    
    background: #04336c;
	min-width:169px;
}

#menu ul ul
{
  top: 0;
  margin-top:-15px;
  left: 169px;
  background-color:#041a47;
  min-width:0px;
}

ul#gearmenu ul {left:176px;}

#menu ul li
{
    float: none;
    margin: 0;
    padding: 0;
    display: block;  
}

#menu ul ul li {
	padding:0px 15px;
}
#menu ul ul li:hover{
	background-color:#031946;
}
#menu ul li:last-child
{   
   
}

#menu ul a
{    
    padding: 8px 10px;
	height: 10px;
	margin-left:15px;

	height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
	
}

#menu ul ul a{
	margin:0px;
}

#menu ul ul a:hover{
 color:#fff;	
 background-color:#bcc51f;
}
*html #menu ul a /* IE6 */
{    
	height: 10px;
}

*:first-child+html #menu ul a /* IE7 */
{    
	height: 10px;
}

#menu ul a:hover
{
	color: #bcc51f;
    background: #021b44;
	

}

#menu ul li:first-child > a
{
   
}

#menu ul li:first-child > a:after
{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
}

#menu ul ul li:first-child a:after
{
    left: -8px;
    top: 12px;
    width: 0;
    height: 0;
    border-left: 0;	
   
}

#menu ul li:first-child a:hover:after
{
    border-bottom-color: #04acec; 
}





/* Clear floated elements */
#menu:after 
{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

* html #menu             { zoom: 1; } /* IE6 */
*:first-child+html #menu { zoom: 1; } /* IE7 */


.grid_960 .internal ul  {
  list-style:disc !important;
  margin: 15px;
}

.wa_buttons ul {margin:0px !important;}